body{
  height: 100%;
  background-color: #F0F4F5;
}

.error{
  color: red;
  border: 2px solid red;
  background-color: #ffe6e6;
  border-radius: 10px;
  text-align: center;
}

.Grid{
  display: flex;
}

.Grid--cell{
  flex: 1;
}


.welcome{
  flex: 2;
  /*width: 33% !important;
  flex: none !important;*/
  padding-right: 1%;
  vertical-align: bottom;
  margin-left: 2%;
  /*border-bottom: 1px solid #DDD;*/
}

.headerBtns{
  flex: 1;
}

.signout{
 text-align: center;
}

.navBtn{
  flex: 1;
  margin-left: 1%;
}

.headerBar{
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
}