body{
  height: 100vh;
}

.ng-scope{
  /*background-color: #F0F4F5;*/
}

.Grid{
  display: flex;
}

.Grid--cell{
  flex: 1;
}


.welcome{
  /*width: 33% !important;
  flex: none !important;*/
  padding-right: 1%;
  vertical-align: bottom;
  margin-left: 2%;
  /*border-bottom: 1px solid #DDD;*/
}

.headerBtns{
  flex: none !important;
  width: 33% !important;
}

.signout{
  display: block !important;
  /*flex: none !important;
  width: 10% !important;*/
  text-align: center;
}

.navBtn{
  margin-left: 1%;
}

.headerBar{
  border-bottom: 1px solid #DDD;
  margin-bottom: 20px;
}