.poolPageBody{
  text-align: center;
}

.poolTitle{
  border: none !important;
}

.newGrouping{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.groupingTitle{
  /*text-decoration-color: #CCC;
  text-decoration: underline;*/
  /*border-bottom: 1px solid #CCC;*/
}
.partnerUpBtn{
  margin-bottom: 2rem;
}

.pastGrouping{
  margin-top: 2rem;
  border-radius: 10px;
}

.groupingName{
  margin-bottom: 2rem;
}

#partners{
  margin-bottom: 2rem;
}

.history{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.groupingUsers{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #CCC;
  margin-bottom: 1%;
}

.clickable{
  cursor: pointer;
}


.grp{
  display: flex;
  border: 1px solid #CCC;
}

.partner{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait{
  flex: 1;
  max-height: 50px;
  /*margin-left: 33%;*/
  /*margin-right: 2%;*/
  /*border-left: 1px solid #CCC;*/
}

.partnerName{
  flex: 10;
}
.lockBtn{
  /*flex: none !important;*/
  /*display: block !important;*/
  margin-right: 5%;
  float: right;
  max-height: 15px;
  cursor: pointer;
  max-width: 15px;
  margin-left: 10%;
}

.selectedStu{
  color: #999;
}

.clash{
  color: red;
}