.poolPageBody{
  text-align: center;
}

.poolTitle{
  border: none !important;
}

.newGrouping{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.groupingTitle{
  /*text-decoration-color: #CCC;
  text-decoration: underline;*/
  /*border-bottom: 1px solid #CCC;*/
}
.partnerUpBtn{
  margin-bottom: 2rem;
}

.pastGrouping{
  margin-top: 2rem;
  border-radius: 10px;
}

.groupingName{
  margin-bottom: 2rem;
}

#partners{
  margin-bottom: 2rem;
}

.history{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.pair{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid #CCC;
}
.partnerName{
  flex: none !important;
  width: 30% !important;
  text-align: center;
}

.clickable{
  cursor: pointer;
}
.indPair{
  text-align: center;
}

.grp{
  /*display: block !important;
  /*text-align: center !important;*/
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
.portrait{
  flex: none !important;
  display: block !important;
  max-height: 50px;
  margin-left: 33%;
  margin-right: 2%;
  max-width: 20% !important;
  /*border-left: 1px solid #CCC;*/
}
.lockBtn{
  /*flex: none !important;*/
  /*display: block !important;*/
  float: right;
  max-height: 15px;
  cursor: pointer;
  max-width: 15px;
  margin-left: 10%;
}

.selectedStu{
  color: #999;
}

.clash{
  color: red;
}