body {
  margin: 0;
  margin-top: 10px;
  background-image: url("../assets/pw_maze_white.png");
}

.signout{
  margin-bottom: 20px
}

.studentGroups{
  display: inline;
  position: absolute;
  top: 200px;
  left: 350px;
  float: left;
  margin-right: 200px;
}

.modal{
  position: absolute;
  width: 300px;
  border: 1px solid black;
  top: 100px;
  left: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.addedUsers{
  margin-top: 10px;
  border: 1px solid #CCC;
}


.lockBtn{
  cursor: pointer;
  color: #777;
}

.clash{
  color: red;
}
.bad{
  color: red;
}
th{
  padding-right: 30px;
}

td{
  padding-right: 30px;
}

.toBackground{
  position: relative;
  background-color: #CCC;
}

.stu{
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
 
  background-color: #ebebeb;
  
  border-color: #dbdbdb;
}

.locked{
  background-color: #ddd !important;
  border: 10px solid black;
}

.selectedStu{
  color: #CCC;
}
.loginBtn{
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  float: right;
  height:35px;
  width: 150px;
  font-size:13px;
}
.welcome{
  text-align: center;

}
.info{
  padding:30px;
  background-color: #ebebeb;
  border: solid;
  border-color: #dbdbdb;
}
.login{
  font-family: 'Josefin Sans', sans-serif;

}
.main{
  font-family: 'Josefin Sans', sans-serif;
  margin:20px;
}
.signout{
  float: right;
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  height:30px;
  width: 125px;
  font-size:13px;
}
.partnerBtn{
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
  height:30px;
  width: 125px;
  font-size:13px;
}
.createClass{
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  height:30px;
  width: 125px;
  font-size:13px;
}
.histBtn{
    background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  height:30px;
  width: 125px;
  font-size:13px;
}
.currClass{
  font-size:20px;
}
.groupSize{
  font-size:20px;
}
.clipyclip{
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  height:30px;
  width: 125px;
  font-size:13px;
  margin-right:70px;
}
.final{
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  height:30px;
  width: 125px;
  font-size:12px;
}
.history{
  margin-left:20px;
  font-family: 'Josefin Sans', sans-serif;
}
.changers{
    background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  margin-top: 10px
  margin-bottom:10px;
  height:30px;
  width: 30px;
  font-size:12px;
}
.goHome{
  background-color: cornflowerblue;
  color:white;
  border-radius: 5px;
  float: right;
  margin-bottom:10px;
  height:35px;
  width: 150px;
  font-size:12px;
  margin-right: 100px;
}
.generations{
  float: left;
  clear: left;
/*  position: absolute;
  right: 0px;*/
  display: block;
  border-style: solid;
  border-width: 3px;
  background-color: #ebebeb;
  border-color: #dbdbdb;
  width: 150px;
  /*margin-right:100px;*/
  cursor: pointer;
  margin-bottom: 1px;
}
.genTitle{
  float: left;
  clear: left;
  /*margin-right: 130px ;*/
  margin-bottom: 0px;
}
.genSearch{
    float: left;
  clear: left;
  margin-left: 0px ;
  margin-bottom:10px;
}
.pair{
  margin-left: 300px;
align: center;

}
.stopit{
  border: none !important;
  background-color: none !important;
}
.indPair{
  border-style: solid;
  border-width: 3px;
  background-color: #ebebeb;
  border-color: #dbdbdb;

}
.currGen{
  margin-left:300px;
  align: center;
}
.previous{
  position: absolute;
  top: 110px;
  left:300px;
}
.next{
  position:absolute;
  top: 110px;
  left: 605px;
}
.listLoad{
  margin-top: 20px
}
.titleGen{
  margin-right: 200px;
}
.histclip{
 margin-left: 300px;
}

.instructorTitle{
  margin-right: 75px;
  float: right;
  clear: right;
}
.instructorList{
 margin-right: 50px;
 float: right;
 clear: right;
 border: 1px solid cornflowerblue;
 border-radius: 25px;
 padding: 10px;
 margin-bottom: 15px;
 background-color: rgba(64, 95, 237, .1); 
}

.fellowTitle{
  float: right;
  clear: right;
  margin-right: 100px;
}
.fellowList{
 margin-right: 40px;
 float: right;
 clear: right;
 border: 1px solid cornflowerblue;
 border-radius: 25px;
 padding: 10px;
 background-color: rgba(64, 95, 237, .1); 
}

.studentList{
  clear: left;
  border: 1px solid cornflowerblue;
  border-radius: 25px;
  padding: 10px;
  width: 12%;
  background-color: rgba(64, 95, 237, .1); 
}

.removedStudents{
  border: 1px solid cornflowerblue;
  border-radius: 25px;
  padding: 10px;
  width: 10%; 
  margin-top: 15px;
  background-color: rgba(64, 95, 237, .1); 
}

.addOrRemove{
  border-radius: 50%;
  margin-right: 5px;
}

.fade {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.fade.ng-hide {
  opacity:0;
}

.slide{
  transition:all linear 0.5s;
  -webkit-transition:all linear 0.5s;
}
.slide.ng-hide{
  line-height:0;
  opacity:0;
  padding:0 10px;
}