body {
  margin: 0;
  margin-top: 10px;
  background-image: url("../assets/pw_maze_white.png");
  font-family: 'Josefin Sans', sans-serif;
}

th{
  padding-right: 30px;
}

td{
  padding-right: 30px;
}

.fade {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}
.fade.ng-hide {
  opacity:0;
}

.slide{
  transition:top linear 0.5s;
  transition:opacity linear 0.2s;
  -webkit-transition:all linear 0.5s;
}
.slide.ng-hide{
  top: 150px;
  height:0;
  opacity:0;
  /*padding:0 10px;*/
}