<div loading ng-show="loading"></div>
<div class='history fade' ng-show="!loading">
<button class='goHome' ng-click='goHome()'>Back to PartnerUp</button>
<h1>{{currClassName}}'s History</h1>
<button ng-click="if(confirm('ARE YOU SURE YOU WANT TO DO THIS?? NO TAKESIES BACKSIES THIS WILL DELETE IT ALLLLLLLLLL!!!!!!')) deleteAllGen(); return false">DELETE THEM ALL!</button>
<br>

<div ng-show="generations.length">
  <div class='sidebar'>
    <h3 class='genTitle'>Generation Table</h3>
    <input class="genSearch" ng-model='search' placeholder="type generation name...">

    <div ng-repeat='generation in generations| filter: {title: search}' ng-click='setGen(generation)' ng-class='{selectedGen: generation.title === currGen}' class="generations">{{generation.title}}
    </div>
  </div>

  <div class="content">
    <div class="currGen">
      <button class='changers prev' ng-click='previous()'><</button>
      <h3 class="currGenTitle">{{currGen}}</h3>
      <button class= 'changers next' ng-click='next()'>></button>
      <button class="oopsies" ng-click="if(confirm('ARE YOU SURE YOU WANT TO DO THIS?? NO TAKESIES BACKSIES')) whoops(); return false" >delete this generation</button>
    </div>
    <table class="pair" id="pair">
      <tr>
      <th class="indPair" ng-repeat="index in getIndexArray(pastGens[generationId][0].length)">Partner {{index + 1}}</th>
      </tr>
      <tr ng-repeat='group in pastGens[generationId]' ng-class="{ bad : badPartners.includes(group)}">
      <td class="indPair" ng-repeat='partner in group'>{{partner}}</td>
      <td class='stopit'><img class='stop' src="/assets/stopsign.png" height="20px" width="20px" ng-click="toggleBadPartners(group)" ></td>
      </tr>
    </table>
    <button class="clipyclip histclip" data-clipboard-target="#pair">copy me</button>
  </div>
</div>
<h3 class='genTitle' ng-show="!generations.length">This class has no past groupings! Go partner up!</h3>
</div>