<div header></div>
<div ng-class="{toBackground: creatingGroup}" ng-show="initialized" class='main fade'>
<div class="mainBlack">
  <button class="signout" ng-click="signOut()">Log out</button>
  <h1 class="welcomeMain">Welcome, {{currentUser.name.includes("Gilbert") ? "Gilby" : currentUser.name.includes("Jamie Sowder") ? "Jam Jam" : currentUser.name.includes("Patrick Daly") ? "P-dale" : currentUser.name ||  "Gilby"}}!</h1>
  </div>
  
  <div class="mainMargin">
  <!--Control buttons-->
  
  <div class="controls">
    <div class='currClass'>Current pool: {{currentClass.name}}</div>
    <select ng-model="currentClass" ng-options="class as class.name for class in classes" ng-change="changeClass()">
    <option value="">Choose a pool</option>
    </select>
    <button ng-click="openCreateModal()" ng-hide="stuView" class='createClassBtn'>Create a Pool</button>
    <br><br>
    <div class='groupControls' ng-hide='stuView'>
      <div class='groupSize'>Group Size: </div>
      <select ng-init="groupSizeSelect = 2" ng-model="groupSizeSelect">
        <option ng-repeat="idx in getIndexArray(8)">{{idx+2}}</option>
      </select>
      <br>
      <button ng-click="randomize(groupSizeSelect)" class="partnerBtn">Generate Groups</button>
      <input ng-model="noRepeats" ng-init="noRepeats=true" type="checkbox" id="chbx" checked > No repeats
    </div>
    <button ng-click="seeHistory()" class="histBtn">See History</button>
  </div>

  <!--Lists of people in the current class-->
 <!--  <div loading ng-show="loadingList" class="listLoad"></div>
  <div class="peopleList" ng-show="!loadingList && currentClass">
      <h2 class="instructorTitle">Instructors: </h2>
    <div class="instructorList">
        <div class="instructor" ng-repeat="instructor in instructors">{{instructor.user.name}}</div>
    </div>
      <h2 class="fellowTitle">Fellows: </h2>
    <div class="fellowList">
        <div class="fellow" ng-repeat="fellow in fellows">{{fellow.user.name}}</div>
    </div> -->
    <div class="studiv">
      <h2>Students: </h2> 
    <div class="studentList">
      <div class="student" ng-repeat="student in students"><button class="addOrRemove" ng-click="removeFromStudent(student);" ng-hide="stuView">x</button>{{student.user.name}}</div>
    </div>
      <h2>Removed Students:</h2>
    <div class="removedStudents" ng-show="noPair.length && !stuView">
      <div ng-repeat="nopair in noPair"><button class="addOrRemove" ng-click="addStudentBackIn(nopair);">o</button>{{nopair.user.name}}
      </div>
    </div>
  </div>
  </div>

  <!--The table of current groupings-->
  <div ng-show="loadingGroups" loading class="studentGroups"></div>
  <div ng-show="(partnerUp || stuView) && !loadingGroups" class="studentGroups slide">
    <label ng-show="stuView">You're just a student in this class, so we can't let you make new pairs, sorry! Here's the most recent grouping made by your instructors:</label> <br>
    <h3>{{genTitle}}</h3>
    <input class='groupSearch' ng-model="groupSearch" placeholder="Search users"><br>
    <div class='genTitle' ng-show="partnerUp && !finalized && !stuView">
      <input ng-model="genTitle" placeholder="Title..." maxlength="17">
      <button class='final' ng-click="finalize()">Finalize this pairing</button>
      <button class='reroll' ng-click="randomize(groupSizeSelect)">Re-roll</button>
    </div>

    <table id="partners" unselectable="on" class="unselectable"> 
      <tr>
      <th ng-repeat="index in getIndexArray(groupSizeSelect)">Partner {{index + 1}}</th>
      </tr>
        <tr ng-repeat="group in groups | filter : filterGroupsByName" ng-class="{clash: !finalized && clashes.includes(group), locked: searchLockedGroups(group)}" >
         <!-- dragula-scope="$parent" dragula='"bag-one"' this goes in the tr above it!!-->  
        <td  ng-repeat="stu in group" ng-click="selectForSwap(stu)" ng-class="{selectedStu: selectedForSwap === stu}" class="stu" dragula-model='groups'> 
        <!--dragula-model='groups' this goes in td above!!! -->
        <img src='{{stu.user.avatar_url}}' width='40px' height='50px'>
          {{stu.user.name}}
        </td>
          <td ng-hide="stuView || finalized" >
          <img src= "http://simpleicon.com/wp-content/uploads/lock-3.png" width='15px' height='15px' ng-show='!searchLockedGroups(group)' class="lockBtn" ng-click="toggleLockGroup(group)">
          <img src= "http://image.flaticon.com/icons/svg/26/26053.svg" width='15px' height='15px' ng-show='searchLockedGroups(group)' class="lockBtn" ng-click="toggleLockGroup(group)">
        </td>
      </tr>
    </table>
    
    <button class="clipyclip mainCopy" data-clipboard-target="#partners">copy me</button>
  </div>
</div>
</div>


<!--The modal for creating a group-->
<div class="modalPage fade" ng-show="creatingGroup">
  <div class="modal modalPeople">
    <div loading class="modalLoad" ng-show="loadingModalUsers"></div>
    <div ng-show="!loadingModalUsers">
      <select ng-model="selectedCohort" ng-options="cohort as cohort.name for cohort in modalCohorts" ng-change="changeModalCohort()"></select>
      <div class="modalPeopleList" ng-hide="modalAddedUids.includes(admin.user.uid)" ng-click="addModalAdmin(admin)" ng-repeat="admin in modalAdmins">{{admin.user.name}}</div>
      <div class="modalPeopleList" ng-hide="modalAddedUids.includes(student.user.uid)" ng-click="addModalStu(student)" ng-repeat="student in modalStudents">{{student.user.name}}</div>
    </div>
  </div>
  <div class="modal modalList">    
    <h3>Admins:</h3><br>
    <div class="modalPeopleList" ng-click="removeModalAdmin(ad)" ng-repeat="ad in modalAddedAdmins">{{ad.user.name}}</div>
    <h3>Students:</h3><br>
    <div class="modalPeopleList" ng-click="removeModalStu(stu)" ng-repeat="stu in modalAddedStus">{{stu.user.name}}</div>
  </div>
  <div class="modalControls">
    <button class="modalBtn" ng-click="createClass()">Create Pool</button>
    <button class="modalBtn" ng-click="closeCreateModal()">Cancel</button>
  </div>
</div>

<div loading class="initialLoad" ng-show="!initialized">
</div> 